p{
    color: blue;
    border: 2px solid green;
    border-radius: 20px;
    text-align: center;
    tab-size: 30px;
    margin: 20px;
    padding: 20px;
}
.gas{
    background-color: antiquewhite;
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
}
.gas p{
    color: rgb(255, 89, 0);
    padding: 10px 50px 10px 50px;
}
body{
    background: rgba(245, 223, 172, 0.606);
}
img{
    position: absolute;
    align-items: center;
}